Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  portability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length

CheckOptions:
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: 'true'

  - key: modernize-loop-convert.MinConfidence
    value: reasonable

  - key: readability-qualified-auto.IgnoreAliases
    value: 'false'